<!DOCTYPE html>
<html>
  <head>
    <title>Shopfee</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Shopfee List Coffee</h1>
    <table border="1">
      <tr>
        <th rowspan="2">Nama</th>
        <th rowspan="2">Deskripsi</th>
        <th rowspan="2">Rating</th>
        <th colspan="3">Harga</th>
        <th rowspan="2">Gambar</th>
      </tr>
      <tr>
        <th>Small</th>
        <th>Medium</th>
        <th>Large</th>
      </tr>
      <% coffees.forEach(coffee => { %>
       <tr>
        <td><%= coffee.name %></td>
        <td><%= coffee.description %></td>
        <td><%= coffee.rating %></td>
        <td><%= coffee.small_price %></td>
        <td><%= coffee.medium_price %></td>
        <td><%= coffee.large_price %></td>
        <td><img src="<%= coffee.image %>" alt="<%= coffee.name %>"></td>
       </tr>
      <% }) %>
    </table>
  </body>
</html>
